$fontWhite: #fff;
$headerTextSize:20px;
::-webkit-scrollbar{
    width: 0px
}
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #1C1C1E;
}
h3{
    font-size: 1em;
}
.h1{
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
button{
    border:none
}
body{
    background: #E5E5E5;
}
header {
    
    position: fixed;
    width: 100%;
    background-color: #4F27BF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $fontWhite;
    .header__burger{
        display: none;
    }
    .header__items{
        display: flex;
        align-items: center;
    }
    .header__items:first-child{
        padding: 16px 0 16px 32px;
        .header__svg{
            padding-right: 24px;
        }
        .header__logo{
            font-weight: 700;
            font-size: $headerTextSize;
        }
    }
    .header__items:last-child{
        padding-right: 32px;  
        .header__svg{
            padding-right: 16px;
        }
        .header__name{
            font-weight: 700;
            font-size: $headerTextSize;
        }
    }
  }
.wrapper{
    display: flex;
}
  .menu{
   
    height:64vh;
        overflow: auto;
    padding: 105px 0px 168px 32px;
    max-width: 300px;
    box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
     
    .menu__itemU{
        font-weight: 600;
font-size: 20px;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span{
            padding-left: 16px; 
            max-width: 118px;
        }
        .menu__arrow{
            margin-left: 67px;
            transform: rotate(180deg);
            transition: .3s
        }
        .menu__arrow--active{
            transition: .3s;
            transform: rotate(0deg);
        }
        .menu__settings--close{
            
             
            opacity: 0;
            height: 0;
            transition: .4s
        }
        ul{
           
            
            li{
                width: 284px;
                padding-left: 14px;
              
                 
                margin-top: 40px;
         a{
            display: flex;
            align-items: center;
            span{
                padding-left: 16px;
            }
            img{
                width: 32px;
                height: 32px;
            }
         }
            }
            li:hover{
                border-right: 3px solid  #4F27BF;
                
            }
        }
    }
   
    .menu__item:first-child{
        margin-bottom: 32px;
        border:none;
        font-weight: 700;
font-size: 20px;
    }
    .menu__item{
        font-weight: 600;
font-size: 20px;
        margin-top: 40px;
         a{
            display: flex;
            align-items: center;
            span{
                padding-left: 16px;
            }
            img{
                width: 32px;
                height: 32px;
            }
         }
       
        
    }
    .menu__item:hover:not(:first-child){
        border-right: 3px solid  #4F27BF;

    }
    
    .menu__item:first-child{
        margin-top: 0px;
        
    }
   
  }


  .main{
   
    margin:112px 32px;
    width: 100%;
    margin-bottom: 0px;
    .main__title{
        font-weight: 700;
        color: #1C1C1E;
font-size: 26px;
    }
    .main__info{
        font-weight: 500;
        color: #1C1C1E;
font-size: 20px;
margin-top: 16px;
margin-bottom: 24px;

    }
    div{
        height: 70vh;
        overflow: auto;
    }
    .main__text{
         
        
        font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000;
margin-bottom: 30px;
    }
    form{
        display: flex;
             
        .main__input{
            width: 74%;
            box-sizing: border-box;
            resize: vertical;
            padding: 23px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #6C6C6C;
            border: 3px solid #4F27BF;
border-radius: 10px;
background: #E5E5E5;
        }
        .main__label{
            cursor: pointer;
            margin-left: 24px;
            padding: 19px 40px;
            color: $fontWhite;
            background-color: #4F27BF;
            display: flex;
            align-items: center;
            border-radius: 10px;
            img{
                margin-right: 16px;
            }
        }
        .main__label:active{
            transition: .4s;
            opacity: .7;
        }
    }

    .main__content{
        height: 48vh;
overflow: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        padding: 24px;
        background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
border-radius: 10px;
    }
    ul{
        .main__contentHeader{
            font-weight: 700;
            
font-size: 26px;
color: #000000;
        }
        li{
            padding-bottom: 16px;
            padding-top: 16px;
            border-bottom: 1px solid #D7D7D7;
            font-weight: 500;
font-size: 20px;
color: #000000;
        }
    }
  }
  @media(max-width:1000px){
    .main{
        
        .main__text{
    font-size: 16px;
        }
        form{
            
           font-size: 16px;
            flex-direction: column;
            .main__input{
           
           width: 100%;
            }
            .main__label{
               
                width: fit-content;
                margin-left: 0;
                margin-top: 20px;
            }
        }
  }
}
@media(max-width:768px){
   
    .menu{
        display: none;
    }
    .header__svg{
        display: none;
    }}

@media(max-width:550px){
   
}